.container {
    background-color: #c8fdfd;
    border: 1px solid black;
}

.status_container {
    width: 220px;
    height: 150px;
    text-align: center;
}

.bot-active-text {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -20%;
    margin-top: 2.5%;
}

#bot-active-diode {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
    margin: 20% auto;
}

#bot-active-diode-text {
    display: inline-block;
    height: 20px;
    margin: 35% auto;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
